<!doctype html>
<html lang="en">

    <head>
        {{- include 'partials/welcome-header' }}
        {{- content 'welcome-header' }}
    </head>

    <body id="page-top">
        <!--content goes here-->
        {{ content }}

    </body>
    {{- include 'partials/welcome-footer' }}
    {{- content 'welcome-footer' }}

</html>
